$main-white: #FFFFFF;
$light-gray: #E1E5EB;
$white-gray: #BECAD6;
$gray-white: #FBFBFB;
$content-background-white: #F5F6F8;

$admin-blue: #007BFF;
$blue-gray: #3D5170;

$admin-gray: #818EA3;
$darken-gray: #868E96;
$dark-gray: #767F9D;
$gray: #5A6169;
$blak-gray: #495057;
$order-gray: #889098;
$order-light-gray: #999999;

$main-black: #121212;

$main-green: #0EC261;